.user-poster-profile {
    width: 30px!important;
    height: 30px!important;
    margin-right: 3px;
}

.top-autor-profile-img{
    height: 70px!important;
}

header{
    background-color: black;
}

nav{
    background-color: black!important;
}
